<section class="app-section">
    <div class="auto-container">
        <div class="row">
            <!-- Image Column -->
            <div class="image-column col-lg-6 col-md-12 col-sm-12">
                <div class="bg-shape"></div>
                <figure class="image wow fadeInLeft">
                  <%= image_tag "mobile-app.png", alt: "mobile-app", :class => "" %>
                </figure>
            </div>
            <div class="content-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column wow fadeInRight">
                    <div class="sec-title">
                        <span class="sub-title">DOWNLOAD & ENJOY</span>
                        <h2>Get the Job<br> Search App</h2>
                        <div class="text">Search through millions of jobs and find the right fit. Simply<br> swipe right to apply.</div>
                    </div>
                    <div class="download-btn">
                        <a href="#">
                        <%= image_tag "apple.png" %>
                        </a>
                        <a href="#"><%= image_tag "google.png" %></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>