<tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
  <td class="content-block" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px;" valign="top">
    Chào Bạn Nhé. Chúc Mừng Bạn Đăng Kí Thành Công Tài Khoản Cộng Tác Viên.
  </td>
</tr> 

<tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
  <td class="content-block" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px;" valign="top">
    <strong>
       <a target="_blank" href="https://t.me/congtacvienjob">
          Tham Gia Nhóm Telegram Để Được Hỗ Trợ
      </a>
    </strong>
  </td>
</tr>