<!-- Info Section -->
<div class="login-section">
    <div class="image-layer" style="background-image: url(https://devfinding-production.s3.ap-southeast-1.amazonaws.com/background.png);"></div>
    <div class="outer-box">
        <!-- Login Form -->
        <div class="login-form default-form">
            <div class="form-inner">
                <h3>
                    Sign Up Form
                </h3>
                	<% if flash[:created_hr_freelancer] %>
                        <div class="alert alert-success">
                            <a data-dismiss="alert"></a>
                            <%= flash[:created_hr_freelancer] %>
                        </div>
                  <% end %>
                <!--Login Form-->
                <%= form_for(:hr_freelancer, :url => {:controller => 'hr_freelancers/sessions', :action => 'create_user'}) do |f| %>
                    <div class="form-group">
                        <label>Your Email</label>
                        <%= f.email_field :email, :class=>"form-control", :required => true, :placeholder => 'Enter your email' %> 
                    </div>
                    <div class="form-group">
                        <label>Your Password</label>
                        <%= f.password_field :password, :class=>"form-control", :required => true, :placeholder => 'Enter your password' %> 
                    </div>
                    <div class="form-group">
                        <button class="theme-btn btn-style-one" type="submit" name="log-in">
                            Sign Up
                        </button>
                    </div>
                <% end %>
                <div class="bottom-box">
                    <div class="text">have an account? <a href="/hr_freelancers/sessions/signin">Sign In</a></div>
                </div>
            </div>
        </div>
        <!--End Login Form -->
    </div>
</div>
<!-- End Info Section -->

